body {
    font-family: Arial, sans-serif;
background-color: [[${backgroundColor}]];
    margin: 0;
    padding: 0;
color: [[${textColor}]];
}

h1 {
    color: [[${headingColor}]];
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}