<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/form/new-store}" th:object="${store}" method="post">
    <label for="name">Store Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br/>
    <label for="city">Zone City:</label>
    <input type="text" id="city" th:field="*{zone.city}" /><br/>
    <label for="state">Zone State:</label>
    <input type="text" id="state" th:field="*{zone.state}" /><br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>